<div class="jumbotron">
    <h1>Read values from application.yml file</h1>
    <table border="1">
        <tr>
            <td>Keys</td>
            <td>Values</td>
        </tr>
        <tr>
            <td>
                @ViewData["Key1"]
            </td>
            <td>
                @ViewData["Value1"]
            </td>
        </tr>
        <tr>
            <td>
                @ViewData["Key2"]
            </td>
            <td>
                @ViewData["Value2"]
            </td>
        </tr>
        <tr>
            <td>
                @ViewData["Key3"]
            </td>
            <td>
                @ViewData["Value3"]
            </td>
        </tr>
    </table>
</div>

